
body{
    background-color: aliceblue;
}
h1{
    color: darkblue;


}

p{
color: purple;

}
img{
    width: 300px;
    padding: 10px;
    border: solid rgb(4, 18, 211) 10px;
}

.accent-bg{
    background-color: rgb(192, 193, 255);
    padding: 30px;
    border: solid rgb(0, 0, 0) 30px ;
    margin: 20;
    width: 50%;
}
#main-section{
    background-color: rgb(38, 206, 212);
}